<!-- <h1>Hola Angular, Nueva aplicacion</h1> -->
<!-- <app-user></app-user> -->
<!-- <router-outlet /> -->
 <div>
    <h1>Que tal va la vaina con Angular?</h1>
    <article>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis consequuntur excepturi amet praesentium libero explicabo ab quos! Cupiditate, aperiam dolor. Vel fuga quia officia illum, minima eveniet inventore amet voluptatibus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam autem quaerat nobis inventore incidunt tempora reprehenderit ipsam animi cupiditate sint blanditiis sed id porro, possimus hic ipsum temporibus deserunt minus?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ipsum eos, est itaque a accusamus debitis earum beatae temporibus repudiandae eius ab error facere rem modi fugiat ipsam alias non!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis perferendis culpa pariatur facere, reiciendis adipisci hic. Explicabo vel provident, quidem illo distinctio suscipit porro vero eius commodi, nemo consequatur quisquam.</p>
    </article>
    @defer  {
        <app-comments></app-comments>
    } @placeholder {
        <p>Futuros Come4ntarios</p>
    } @loading {
        <p>Cargqando comentarios....</p>
    }
    
 </div>
 <!-- aqui la imagen sale grandisima por lo que se deja dentro del div mejor -->
 <!-- <app-comments></app-comments> -->
